body{
  color: white;
  background-color:#1c4740;
  margin:0;
}
.link-title {
   text-decoration: none;
   color: white;
   font-size: 24px;
   padding: 0 30px 0 40px;
}

.container {
  width: 780px;
  margin: 0 auto;
  background: #49998c
}
.header {
  padding: 45px 0 20px 40px;
  background-color: #357066;
  color: white;
}
.menu {
  background:#2c5b53;
  padding: 6px 0 6px 40px;

}
.menu a{
  color: white;
  padding: 0 2px 0 5px;
  text-decoration: none;
  font-size: 14px;
  font-family:'Segoe UI',Arial,sans-serif;
}
.menu a:hover{
  color: #9ee5d9;

}

aside{
  float:left;
  width: 120px;
  padding: 30px 0 0 40px;
}

h1{
  margin: 0px;
  color:#2c5b53;
  font-size: 20px;
  font-family:'Segoe UI',Arial,sans-serif;
  font-weight: normal;
}
h2{
  margin: 20px 0 5px 0;
  color:#2c5b53;
  font-size: 16px;
  font-family:'Segoe UI',Arial,sans-serif;
  font-weight: normal;
}
.main{
  margin: 0 0 0 180px;
  padding: 35px 40px 30px 0;
  color: #9ee5d9;
  font-family:'Segoe UI',Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-emphasis: justify;

}
.main a:-webkit-any-link{
  text-decoration: none;
  color:#2c5b53;
}
.main a:hover{
  color: #9ee5d9;
  text-decoration: none;
}

#home-image img{
  width: 100%;
}

footer{
  padding: 6px 40px 6px 40px;
  background: #357066;
  font-family: 'Segoe UI',Arial,sans-serif;
  color: white;
  font-size: 11px;
  text-decoration: right;
}
footer a{
  text-decoration: none;
  color: #9ee5d9;
}
