body{
  color: white;
  background-color:#1c4740;
  margin:0;
}
.link-title {
   text-decoration: none;
   color: white;
   font-size: 24px;
   padding: 0 30px 0 40px;
}

.container {
  width: 780px;
  margin: 0 auto;
  background: #49998c
}
.header {
  padding: 45px 0 20px 40px;
  background-color: #357066;
  color: white;
}
.menu {
  background:#2c5b53;
  padding: 6px 0 6px 40px;

}
.menu a{
  color: white;
  padding: 0 2px 0 5px;
  text-decoration: none;
  font-size: 14px;
  font-family:'Segoe UI',Arial,sans-serif;
}
.menu a:hover{
  color: #9ee5d9;

}

h1{
  margin: 0 0 20px 0;
  color:white;
  font-size: 24px;
  font-family:'Segoe UI',Arial,sans-serif;
  font-weight:bolder;
}
h2{
  margin: 20px 0 5px 0;
  color:white;
  font-size: 16px;
  font-family:'Segoe UI',Arial,sans-serif;
  font-weight: bold;;
}
section{
  padding: 15px 0 15px 0;
}
section > *{
  padding-top: 5px;
}

.main{
  padding: 35px 40px 30px 40px;
  color: white;
  font-family:'Segoe UI',Arial,sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-emphasis: justify;
  font-weight: bold;

}
.main a:-webkit-any-link{
  text-decoration: none;
  color:#2c5b53;
}
.main a:hover{
  color: #9ee5d9;
  text-decoration: none;
}

#home-image img{

  height:218.75px;
  margin-top: 20px;
}

footer{
  padding: 6px 40px 6px 40px;
  background: #357066;
  font-family: 'Segoe UI',Arial,sans-serif;
  color: white;
  font-size: 11px;
  text-decoration: right;
}
footer a{
  text-decoration: none;
  color: #9ee5d9;
}
